.faq {
  position: relative;
  z-index: 1;
  background-color: $background-color;
  padding: 8rem 0;
  overflow: hidden;

  &__inner {
    @include flex-center(column, $gap-xs);
    max-width: 80%;
    margin-inline: auto;
    position: relative;
    z-index: 3;
  }

  &__cta-button {
    @include font($color-primary, $text-lg, 500);
    @include hover-button($color-primary-alpha-15, $color-primary-alpha-10);
    background-color: $color-primary-alpha-05;
    padding: 2.2rem 6rem;
    border-radius: 4rem;
  }

  &__title {
    @include font($color-light, $text-4xl, 500, center);
  }

  &__text {
    @include font($color-secondary, $text-md, 500, center);
  }

  &__question-container {
    @include flex-center(column, $gap-xs);
    max-width: 90rem;
    margin-top: 6rem;
  }

  &__question {
    transition: max-height 0.4s ease, opacity 0.4s ease;
    position: relative;
    width: 100%;
    border-bottom: 2px solid $color-light-alpha-25;
    padding-bottom: 2rem;
    cursor: pointer;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-text {
      @include font($color-light, $text-lg, 500);
    }

    &-answer {
      margin-top: 1rem;
      @include font($color-secondary, $text-md, 500);
    }

    &-icon {
      transition: all 0.3s ease;
      width: 1.6rem;
      height: 1.6rem;
    }

    &-content {
      max-height: 0;
      opacity: 0;
      height: 0;
      overflow: hidden;
      transition: all 0.3s ease;
    }

    .active &-icon {
      transform: rotate(180deg);
    }

    .active &-content {
      height: auto;
      max-height: 20rem;
      opacity: 1;
    }
  }

  &__question:last-child {
    border-bottom: none;
  }

  @media (max-width: $md-screen) {
    &__question-grid {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: $xs-screen) {
    &__title {
      font-size: $text-3xl;
    }
  }
}