.trade {
  position: relative;
  z-index: 1;
  background-color: $background-color;
  padding: 6rem 0;

  &__inner {
    @include flex-center(column, $gap-md);
    position: relative;
    z-index: 3;
    background-color: $color-light-alpha-05;
    padding: 3.5rem 8rem 5rem 8rem;
    width: fit-content;
    margin-inline: auto;
    border-radius: 1.6rem;
  }

  &__tabs-controls {
    display: inline-flex;
    gap: $gap-xs;
  }

  &__tab-button {
    @include font($color-light-alpha-70, $text-xl, 600);
    position: relative;
    padding-bottom: 1rem;
    color: $color-light-alpha-70;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0; right: 0;
      height: 2px;
      background-color: currentColor;
      transform: scaleX(0);
      transition: transform 0.2s ease-in-out;
    }

    &--active,
    &:hover {
      color: $color-primary;
      &::after {
        transform: scaleX(1);
      }
    }
  }

  &__tab-content {
    display: none;
    &--active {
      @include flex-center(row, $gap-xs);
    }
  }

  &__input-block {
    background-color: $color-light-alpha-10;
    display: flex;
    @include flex-center(row, $gap-xs);

    padding: 1.5rem 2rem;
    gap: $gap-2xs;
    border-radius: 0.7rem;
  }

  &__input {
    @include font($color-secondary, $text-sm, 500);
    width: 10rem;
  }

  .trade__select {
    @include font($color-light, $text-sm, 500);
    position: relative;
    display: inline-block;
    width: 12rem;
    user-select: none;

    &-trigger {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      .trade__chevron-icon {
        transition: transform 0.15s;
      }
    }

    &-options {
      position: absolute;
      border-radius: 0.8rem;
      overflow: hidden;
      top: calc(100% + 0.4rem);
      left: 0;
      width: 100%;
      background: $color-light-alpha-25;
      opacity: 0;
      transition: max-height 0.15s, opacity 0.15s;
      pointer-events: none;
    }

    &-option {
      @include flex-center(row, 1rem);
      justify-content: start;
      overflow: hidden;
      padding: 0.6rem;
      cursor: pointer;

      &:hover {
        background: $color-light-alpha-25;
      }
    }
    .trade__select-option:first-child {
      border-top-left-radius: 0.8rem;
      border-top-right-radius: 0.8rem;
    }
    .trade__select-option:last-child {
      border-bottom-left-radius: 0.8rem;
      border-bottom-right-radius: 0.8rem;
    }

    &--open {
      .trade__select-options {
        max-height: 30rem;
        opacity: 1;
        pointer-events: auto;
      }

      .trade__chevron-icon {
        transform: rotate(-180deg);
      }
    }
  }

  &__currency-icon {
    width: 2rem;
  }
  &__action-button {
    @include font($color-dark, $text-md, 600);
    @include hover-button($color-primary-alpha-85, $color-primary-alpha-75);
    cursor: pointer;
    padding: 1.1rem 2.4rem;
    min-width: 15rem;
    text-align: center;
    background-color: $color-primary;
    line-height: 1.5;
    border-radius: 0.7rem;
  }

  @media (max-width: $md-screen) {
    &__tab-content {
      flex-direction: column;
    }
  }

  @media (max-width: $sm-screen) {
    &__inner {
      padding: 3rem 5rem;
    }
  }
}