.faq {
  position: relative;
  z-index: 1;
  background-color: $background-color;
  padding: 8rem 0;
  overflow: hidden;

  &__inner {
    @include flex-center(column, $gap-xs);
    max-width: 80%;
    margin-inline: auto;
    position: relative;
    z-index: 3;
  }

  &__cta-button {
    @include font($color-primary, $text-lg, 500);
    @include hover-button($color-primary-alpha-15, $color-primary-alpha-10);
    background-color: $color-primary-alpha-05;
    padding: 2.2rem 6rem;
    border-radius: 4rem;
  }

  &__title {
    @include font($color-light, $text-4xl, 500, center);
  }

  &__text {
    @include font($color-secondary, $text-md, 500, center);
  }

  &__question-grid {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gap-sm;
  }

  &__question {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  &__question:not(:nth-last-child(-n+2))::after {
    content: "";
    width: 100%;
    height: 1.5px;
    background-color: $color-muted;
    margin-top: 2rem;
  }

  &__question-text {
    @include font($color-light, $text-lg, 500);
  }

  &__question-answer {
    @include font($color-secondary, $text-md, 500);
  }

  @media (max-width: $md-screen) {
    &__question-grid {
      grid-template-columns: 1fr;
    }

    &__question:nth-last-child(2)::after {
      content: "";
      width: 100%;
      height: 1.5px;
      background-color: $color-muted;
      margin-top: 2rem;
    }
  }

  @media (max-width: $xs-screen) {
    &__title {
      font-size: $text-3xl;
    }
  }
}