.header {
  position: sticky;
  top: 0;
  z-index: 10;
  font-size: $text-md;
  padding: 2.4rem 4.8rem;
  border-bottom: 1px solid $color-light-alpha-35;
  background-color: rgba(16, 20, 40, 0.75);
  backdrop-filter: blur(10px);

  &__open-menu-button {
    display: none;
  }

  &__inner {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav-list {
    display: flex;
    gap: 4rem;
    color: $color-light;
  }

  &__nav-link {
    @include hover-text($color-secondary, $color-primary);
    color: $color-light;

    &--active {
      color: $color-primary;
    }
  }

  &__menu {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: $gap-sm;
    position: fixed;
    height: 100dvh;
    inset: 0;
    background-color: $background-color-alpha-70;
    z-index: 1000;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.3s ease-in-out;

    &--show {
      display: flex;
      opacity: 1;
      visibility: visible;
    }
  }

  &__sign-up-button {
    @include hover-button($color-primary-alpha-85, $color-primary-alpha-75);
    text-wrap: nowrap;
    display: inline-block;
    background-color: $color-primary;
    color: $color-dark;
    font-weight: 600;
    padding: 1.2rem 2.4rem;
    border-radius: 4rem;
    border: 1px solid currentColor;
  }

  @media (max-width: $sm-screen) {
    &__open-menu-button{
      display: block;
    }

    &__nav-list {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 6rem;
      background-color: #101428;
      width: 100%;
      text-align: center;
    }

    &__nav {
      order: 1;
    }
  }

  @media (max-width: $xs-screen) {
    padding: 2rem;

    &__more-icon {
      height: 2.4rem;
    }

    &__logo-icon {
      width: 12rem
    }
  }
}
