.market {
  position: relative;
  z-index: 1;
  background-color: var(--background-color);
  padding-top: 10rem;
  padding-bottom: 6rem;
  overflow: hidden;

  &__inner {
    max-width: 90%;
    margin-inline: auto;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    align-items: center;
  }

  &__button-cta {
    border-radius: 4rem;
    padding: 2.2rem 4.4rem;
    background-color: var(--color-primary-alpha-05);
    font-size: var(--text-xl);
    font-weight: 500;
    color: var(--color-primary);
  }
  &__title {
    text-align: center;
    color: var(--color-light);
    font-size: var(--text-4xl);
    font-weight: 500;
    @media (max-width: 512px) {
      font-size: var(--text-3xl);
    }
  }
  &__currency-list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
  }
  &__currency-item {
    display: flex;
    align-items: center;
    gap: var(--gap-lg);

    @media (max-width: 1024px) {
      gap: var(--gap-2xs);
    }

    @media (max-width: 768px) {
      padding: 2rem;
      border-radius: 5rem;
      background-image: linear-gradient(to top, var(--color-light-alpha-05), var(--color-light-alpha-05)),
      linear-gradient(to top, var(--background-color), var(--background-color));
      background-size: contain;
      justify-content: space-between;
    }
  }
  &__currency-item-inner {
    column-gap: var(--gap-xl);
    display: grid;
    grid-template-columns: 20rem 12rem 12rem 12rem;
    @media (max-width: 1024px) {
      gap: var(--gap-2xs);
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      column-gap: 2rem;
    }
  }

  &__currency-name-wrapper {
    display: flex;
    gap: var(--gap-2xs);
  }
  &__currency-icon-wrapper {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 &__currency-icon {
   width: 3rem;
   height: 3rem;
 }
  &__currency-icon-wrapper--yellow {
    background-color: var(--color-yellow);
  }

  &__currency-icon-wrapper--purple {
    background-color: var(--color-purple);
  }

  &__currency-icon-wrapper--green {
    background-color: var(--color-green);
  }

  &__currency-icon-wrapper--red {
    background-color: var(--color-red);
  }

  &__currency-pair-wrapper,
  &__currency-change-wrapper,
  &__chart-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }

  &__price-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__currency-name,
  &__price {
    font-size: var(--text-md);
    font-weight: 600;
    color: var(--color-light);
  }
  &__inr {
    font-size: var(--text-sm);
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-secondary);
  }
  &__currency-change,
  &__price-title,
  &__chart-title {
    font-size: var(--text-md);
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-secondary);
  }
  &__currency-percentage {
    font-weight: 600;
    font-size: var(--text-sm);
  }

  &__currency-percentage--positive {
    color: var(--color-chart-positive)
  }
  &__currency-percentage--negative {
    color: var(--color-chart-negative)
  }

  &__chart {
    width: 8rem;
    transform: translate(-1rem, 1.5rem);
  }

  &__trade-button {
    height: fit-content;
    background-color: var(--color-primary-alpha-10);
    color: var(--color-primary);
    padding: 1.6rem 3.2rem;
    border-radius: 4.5rem;
    font-size: var(--text-md);
    font-weight: 600;
  }
  &__view-other-button {
    text-wrap: nowrap;
    height: fit-content;
    background-color: var(--color-primary-alpha-15);
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    padding: 2rem 18rem;
    border-radius: 4rem;
    font-size: 2rem;
    font-weight: 600;
    @media (max-width: 768px) {
      padding-inline: 12rem;
    }
    @media (max-width: 512px) {
      padding-inline: 6rem;
    }
  }

  &__currency-change-wrapper,
  &__chart-wrapper,
  &__price-wrapper {
    @media (max-width: 768px) {
      display: none;
    }
  }
}