.market {
  position: relative;
  z-index: 1;
  background-color: $background-color;
  padding-top: 10rem;
  padding-bottom: 6rem;
  overflow: hidden;

  &__inner {
    @include flex-center(column, $gap-md);
    max-width: 90%;
    margin-inline: auto;
    position: relative;
    z-index: 3;
  }

  &__button-cta {
    @include font($color-primary, $text-xl, 500);
    @include hover-button($color-primary-alpha-15, $color-primary-alpha-10);
    border-radius: 4rem;
    padding: 2.2rem 4.4rem;
    background-color: $color-primary-alpha-05;
  }

  &__title {
    @include font($color-light, $text-4xl, 500, center);
  }

  &__list {
    @include flex-center(column, $gap-sm);
    align-items: stretch;
  }

  &__item {
    @include flex-center(row, $gap-lg);

  }

  &__item-inner {
    display: grid;
    column-gap: $gap-xl;
    grid-template-columns: 20rem 12rem 12rem 12rem;
  }

  &__name-wrapper {
    display: inline-flex;
    gap: $gap-2xs;
  }

  &__icon-wrapper {
    @include flex-center(row);
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
  }

   &__icon {
     width: 3rem;
     height: 3rem;
   }

  $icon-wrappers: (yellow: $color-yellow, purple: $color-purple, green: $color-green, red: $color-red);

  @each $name, $color in $icon-wrappers {
    &__icon-wrapper--#{$name} {
      background-color: $color;
    }
  }

  &__pair-wrapper,
  &__change-wrapper,
  &__chart-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }

  &__price-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__name,
  &__price {
    @include font($color-light, $text-md, 600);
  }

  &__inr {
    @include font($color-secondary, $text-sm, 600);
    text-transform: uppercase;
  }

  &__change,
  &__price-title,
  &__chart-title {
    @include font($color-secondary, $text-md, 600);
    text-transform: uppercase;
  }

  &__percentage {
    font-weight: 600;
    font-size: $text-sm;

    &--positive {
      color: $color-positive;
    }

    &--negative {
      color: $color-negative;
    }
  }

  &__chart {
    width: 8rem;
    transform: translate(-1rem, 1.5rem);
  }

  &__trade-button {
    @include font($color-primary, $text-md, 600);
    @include hover-button($color-primary-alpha-20, $color-primary-alpha-15);
    background-color: $color-primary-alpha-10;
    padding: 1.6rem 3.2rem;
    border-radius: 4.5rem;
  }

  &__view-other-button {
    @include font($color-primary, $text-lg, 600);
    @include hover-button($color-primary-alpha-25, $color-primary-alpha-20);
    text-wrap: nowrap;
    background-color: $color-primary-alpha-15;
    border: 1px solid $color-primary;
    padding: 2rem 18rem;
    border-radius: 4rem;
    cursor: pointer;
  }

  @media (max-width: $md-screen) {
    &__item {
      gap: $gap-2xs;
    }

    &__item-inner {
      gap: $gap-2xs;
    }
  }

  @media (max-width: $sm-screen) {
    &__item {
      padding: 2rem;
      border-radius: 5rem;
      background-image: linear-gradient(to top, $color-light-alpha-05, $color-light-alpha-05),
      linear-gradient(to top, $background-color, $background-color);
      background-size: contain;
      justify-content: space-between;
    }

    &__item-inner {
      grid-template-columns: 1fr;
      column-gap: 2rem;
    }

    &__view-other-button {
      padding-inline: 12rem;
    }

    &__change-wrapper,
    &__chart-wrapper,
    &__price-wrapper {
        display: none;
    }
  }

  @media (max-width: $xs-screen) {
    &__title {
      font-size: $text-3xl;
    }

    &__view-other-button {
      padding-inline: 6rem;
    }
  }
}