@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: $background-color;
}

.margin-left-sm {
  margin-left: 0.75rem;
}

.blurry-dot {
  content: '';
  position: absolute;
  width: 20rem;
  height: 20rem;
  background: radial-gradient(closest-side, $blurry-dot, $background-color);
    filter: blur(10rem);
  z-index: 2;

  @media (max-width: $sm-screen) {
    width: 20rem;
    height: 20rem;
    filter: blur(7rem);
  }
  &--1 {
    right: 0;
    top: 0;
  }
  &--2 {
    right: -15rem;
    top: -20rem;
  }
  &--3 {
    left: 20%;
    top: 15%;
  }
  &--4 {
    right: 15%;
    top: 45%;
  }
  &--5 {
    left: -10rem;
    top: 10rem;
  }
  &--6 {
    left: -10rem;
    top: -20rem;
  }
  &--7 {
    right: -10rem;
    top: 40%;
  }
  &--8 {
    left: 5%;
    top: 80%;
  }
  &--9 {
    left: -10rem;
    top: 15%;
  }
  &--10 {
    right: -10rem;
    top: 50%;
  }
  &--11 {
    left: -15rem;
    top: 25%;
  }
  &--12 {
    right: -15rem;
    top: 50%;
  }
}


